.container {
  text-align: center;
  margin: auto;
  width: 60%;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between candidates */
}

.candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.candidate-box {
  border: 1px solid #ccc;
  padding: 20px; /* Increased padding */
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 180px; /* Adjust box width as needed */
  text-align: center; /* Center align text */
}

.candidate-box img {
  width: 150px; /* Adjust image size as needed */
  height: 150px; /* Adjust image size as needed */
  border-radius: 50%; /* Ensure circular image */
}

button[type="submit"] {
  margin-top: 20px;
  padding: 15px 30px; /* Increased padding */
  font-size: 16px; /* Increased font size */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Darker shade of the button color on hover */
}
