<!DOCTYPE html>
<html>
<head>
    <title>School Election</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="background" style="background-image: url('{% get_media_prefix %}school.jpg');">
        <div class="overlay">
            <div class="container">
                <h1>FUSCO SENIOR SECONDARY SCHOOL, POOPARAMBA</h1>
                <h2>School Parliament Election 2024-25</h2>
                <form action="{% url 'start_voting' %}" method="get">
                    <button type="submit">Start Voting</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
